{% extends 'main/side-menu.html' %}

{% block content %}
{% load staticfiles %}

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
	<script src="{%  static 'js/form-new.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/form_test.css' %}">

	<!-- Início dos campos para alteração de parâmetros da planta -->
	
	<form method="post">
		{% csrf_token %}
		<div class="formsBox">
			<h2 id="forms_title">Adicione uma nova medição:</h2>
			<br>
			<br>

			<div class="form-group row">
				<label class="col-xs-2 col-form-label, embraco-font-dark-green">Concentração:</label>
					  <div class="col-xs-10">
						 {{ form.concentration}}
						 <!-- {{ form.concentration.errors}} -->
					  </div>
			</div>
			
			<div class="form-group row">
				<label class="col-xs-2 col-form-label, embraco-font-dark-green">Luminosidade:</label>
					  <div class="col-xs-10">
						 {{ form.luminosity}}
						<!--  {{ form.next_cycle.errors}} -->
					  </div>
			</div>

			<div class="form-group row">
				<label class="col-xs-2 col-form-label, embraco-font-dark-green">Temperatura:</label>
					  <div class="col-xs-10">
						 {{ form.temperature}}
						<!--  {{ form.next_cycle.errors}} -->
					  </div>
			</div>

			<div class="form-group row">
				<label class="col-xs-2 col-form-label, embraco-font-dark-green">Bomba de Irrigação:</label>
					  <div class="col-xs-10">
						 {{ form.plant_pump}}
						<!--  {{ form.next_cycle.errors}} -->
					  </div>
			</div>

			<div class="form-group row">
				<label class="col-xs-2 col-form-label, embraco-font-dark-green">Bomba de Recirculação:</label>
					  <div class="col-xs-10">
						 {{ form.recirculation_pump}}
						<!--  {{ form.next_cycle.errors}} -->
					  </div>
			</div>


			<div class="form-group row">
				<label class="col-xs-2 col-form-label, embraco-font-dark-green">Bomba de Solução:</label>
					  <div class="col-xs-10">
						 {{ form.solution_pump}}
						<!--  {{ form.next_cycle.errors}} -->
					  </div>
			</div>


			<div class="form-group row">
				<label class="col-xs-2 col-form-label, embraco-font-dark-green">Última Atualização:</label>
					  <div class="col-xs-10">
						 {{ form.last_update}}
						<!--  {{ form.next_cycle.errors}} -->
					  </div>
			</div>
		</div>

		<input type="submit" class="btn btn-ppap-form"  value="Enviar" />
	</form>


 <!--   <span style="float:right; margin-top:20px;"><input type="button" id="startTourBtn" class="btn btn-default" value="HELP!"/></span>

    <script src="{% static 'js/certification-help.js' %}"></script>
    </div> -->

{% endblock %}