{% extends 'main/side-menu.html' %}

{% block content %}
{% load staticfiles %}

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
	<script src="{%  static 'js/form-new.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/form-new2.css' %}">

	<!-- Início dos campos para alteração de parâmetros da planta -->
	
	<form method="post">
		{% csrf_token %}
		<div class="formsBox">
			<h2 id="forms_title">Altere os parâmetros de referência:</h2>
			<br>
			<br>

			<div class="form-group row">
				<label class="col-xs-4 col-form-label, embraco-font-dark-green">Setpoint Concentração:</label>
					  <div class="col-xs-10">
						 {{ form.concentration_set}}
						 {{ form.concentration_set.errors}}
					  </div>
			</div>

			
			<div class="form-group row">
				<label class="col-xs-4 col-form-label, embraco-font-dark-green">Próximo Ciclo de Acionamento (Horário):</label>
					  <div class="col-xs-10">
						 {{ form.next_cycle_set}}
						 {{ form.next_cycle_set.errors}}
					  </div>
			</div>

			<div class="form-group row">
				<label class="col-xs-4 col-form-label, embraco-font-dark-green">Tempo de Ciclo:</label>
					  <div class="col-xs-10">
						 {{ form.cycle_time_set}}
						 {{ form.cycle_time_set.errors}}
					  </div>
			</div>

			<div class="form-group row">
				<label class="col-xs-4 col-form-label, embraco-font-dark-green">Acionamento Bomba de Irrigação:</label>
					  <div class="col-xs-10">
						 {{ form.plant_pump_set}}
						 {{ form.plant_pump_set.errors}}
					  </div>
			</div>

			<div class="form-group row">
				<label class="col-xs-4 col-form-label, embraco-font-dark-green">Acionamento Bomba de Recirculação:</label>
					  <div class="col-xs-10">
						 {{ form.recirculation_pump_set}}
						 {{ form.recirculation_pump_set.errors}}
					  </div>
			</div>

			<div class="form-group row">
				<label class="col-xs-4 col-form-label, embraco-font-dark-green">Acionamento Bomba de Solução:</label>
					  <div class="col-xs-10">
						 {{ form.solution_pump_set}}
						 {{ form.solution_pump_set.errors}}
					  </div>
			</div>
		</div>

		<input type="submit" class="btn btn-ppap-form"  value="Enviar" />
	</form>


 <!--   <span style="float:right; margin-top:20px;"><input type="button" id="startTourBtn" class="btn btn-default" value="HELP!"/></span>

    <script src="{% static 'js/certification-help.js' %}"></script>
    </div> -->

{% endblock %}