{% extends "main/side-menu.html" %}

{% block content %}
{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/history-list.css' %}">
    <script src="{%  static 'js/history-list.js' %}"></script>

	<div class="tableBox filterable" id="centerBox">
            <h3 id="main_heading">  Últimas Aquisições:</h3>
            <h3 class="normaltext">Clique no botão ao lado para filtrar as informações por coluna:</h3>
            <button class="btn btn-default btn-sm btn-filter" id ="space_from_text"><span class="glyphicon glyphicon-filter"></span> Filter</button>
            <a href="/myveggarden/change_setpoints"><span style="float:right; margin-top:-5px;"><input type="button" class="btn btn-ppap-form" value="Setpoints" /></span></a>
                {% comment %}
		<div id="searchBox">
			<h4 class="normaltext">Pesquise por palavra-chave:</h4>
			<div style="margin-top: 1%" class="form-group pull-right">
			    <input type="text" class="search form-control" placeholder="Digite a palavra aqui">
		    </div>

	    </div>
    {% endcomment %}
            <table class="table">
                    <thead>
                        <tr class="color1 filters">
                            <th><input id="column_style" type="text" class="form-control" placeholder="Concentração" disabled></th>
							<th><input id="column_style" type="text" class="form-control" placeholder="Luminosidade" disabled></th>
                            <th><input id="column_style" type="text" class="form-control" placeholder="B. Irrigação" disabled></th>
							<th><input id="column_style" type="text" class="form-control" placeholder="B. Recirculação" disabled></th>
                            <th><input id="column_style" type="text" class="form-control" placeholder="B. Solução" disabled></th>
<!--                             <th><input id="column_style" type="text" class="form-control" placeholder="Product Description" disabled></th>
                            <th><input id="column_style" type="text" class="form-control" placeholder="More Information" disabled></th> -->

                        </tr>
                    </thead>
                    <tbody>
                        {% for item in object_list %}
		            	    <tr class="table_row_style" id="rowcolor">
                              <td>{{ item.concentration }}</td>
							  <td>{{ item.luminosity }}</td>
                              <td>{{item.plant_pump }}</td>
							  <td>{{ item.recirculation_pump }}</td>
                              <td>{{ item.solution_pump }}</td>
<!--                               <td>{{ item.date }}</td>
                              <td>{{ item.product_description }}</td>
                              <td><a href="/certification/{{item.pk}}/"><input type="button" class="btn btn-default" value="More" /></a></td>-->
		                	</tr>
                        {% endfor %}
                    </tbody>
            </table>
        <a href="/myveggarden/"><span style="float:left; margin-top: -10px"><input type="button" class="btn btn-ppap-form" value="< Horta" /></span></a>

	</div>

{% endblock %}