/** {
	border: 2px dashed black;
}*/
#header {
	background-color: #008791;
	margin: -13px -10px -5px -10px;
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: Verdana;
	padding: 10px;	
}
#embraco_tab {
	background-color: #FFFFFF;
	height: 90px;
	margin: 5px -10px 0px -10px;
	color: #008791;

}

#footer {
	height: 35px;
	background-color: #008791;
	margin-top: 700px;
	display: none;
}

#color1 {
	background-color: #008791;
	height:7px;
	width:21%;
	margin-left: -0.5%;
	position:absolute;
	
}

#color2 {
	background-color: #69B39E;
	height:7px;
	width:20%;
	margin-left: 19.8%;
	position: absolute;

}
#color3 {
	background-color: #C6DE89;
	height:7px;
	width:20%;
	margin-left: 39.6%;
	position:absolute;

}
#color4 {
	background-color: #FFA514;
	height:7px;
	width:20%;
	margin-left: 59.4%;
	position: absolute;

}
#color5 {
	background-color: #F56432;
	height:7px;
	width:20%;
	margin-left: 79.2%;
	position: absolute;
}

.boxes {
	border: 4px solid #69B39E;
	border-radius: 50px;
	background-color: #69B39E;
	width: 30%;
	height: 28%;
	color: white;
	text-align: center;
	font-family: Verdana;
 	font-size: 200%;
	display: inline-block;
	margin-left: 2%;
	margin-top: 25px;
	vertical-align: middle;
	
}

#white_box {
	background-color: #FFFFFF;
	color: #69B39E;
}	

#bigbox {
	height: 780px;
	width: 1000px;
	background-color: #FFFFFF;
	margin-top: 15px;
	float: middle;
	position: relative;
	
}

#align1 {
	margin-top: 10%;
}

#align2 {
	margin-top: 30%;
}

#align3 {
	margin-top: 4%;
}
.check {
	height: 15%;
	margin-top: -2%;
	margin-right: 5%;
	float: right;
	
}
.center {
    margin: auto;
    width: 50%;
    align: center;
}


