{% extends 'main/main.html' %}

{% block main-content %}
    <div id="wrapper" class="ppap-content-div">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="overflow-x: hidden;"> <!-- "div" do menu lateral - (hidden) Oculta a barra de scroll em X -->

            <!-- Content-list -->
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/myveggarden/home">
                        Home
                    </a>
                </li>

                <li>
                    <a href="/myveggarden/">Minha Horta</a>
                </li>

				<li>
                <a href="/auth/logout">Logout</a>
                </li>

            </ul>
            <!-- /Content-list -->

        </div>
        <!-- /Sidebar -->

        <!-- Page content -->
        <div id="page-content-wrapper" style="padding: 0px;">

            <!-- Botão - ocultar o menu lateral -->
            <button id="menu-toggle" class="side-menu-button-bar"><span id="side-menu-button" class="glyphicon glyphicon-chevron-left"></span></button>
            <!-- /Botão -->

            <div class="container-fluid" style="padding-left: 50px;">

                <!-- Python content -->
                <div class="row">
                    <div class="col-lg-12">
                            {% block content %}
                            {% endblock %}
                    </div>
                </div>
                <!-- /Python content -->

            </div>
        </div>
        <!-- /Page content-->

    </div>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $("#side-menu-button").toggleClass("glyphicon-chevron-right");
    });
    </script>
{% endblock %}
