.ppap-emb-col1 {
    width: 30%;
}
.ppap-emb-col2 {
    width: 20%;
}
.ppap-emb-col3 {
    width: 25%;
}
.ppap-emb-col4 {
    width: 25%;
}
.ppap-sup-col1 {
    width: 10%;
}
.ppap-sup-col2 {
    width: 40%;
}
.ppap-sup-col3 {
    width: 25%;
}
.ppap-sup-col4 {
    width: 25%;
}